<%- include ('./elements/header.ejs') %>

    <body>
        <!-- <h2>User Details</h2> -->
        <% const userData=JSON.parse(srcData);%>
            <style>
                @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-font-smoothing: antialiased;
                    -moz-font-smoothing: antialiased;
                    -o-font-smoothing: antialiased;
                    -font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                }

                body {
                    font-family: " Open Sans", Helvetica, Arial, sans-serif;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 30px;
                    color: #777;
                    background: #0CF;
                }

                .container {
                    max-width: 700px;
                    width: 100%;
                    margin: 0 auto;
                    position: relative;
                }

                .contact input[type="text"],
                .contact input[type="email"],
                .contact input[type="tel"],
                .contact input[type="url"],
                .contact textarea,
                .contact button[type="submit"] {
                    font:
                        400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
                }

                .contact {
                    background: #F9F9F9;
                    padding: 25px;
                    margin: 50px 0;
                }

                .contact h3 {
                    color: #438eb9;
                    display: block;
                    font-size: 30px;
                    font-weight: 400;
                }

                .contact h4 {
                    margin: 5px 0 15px;
                    display: block;
                    font-size: 13px;
                }

                fieldset {
                    border: medium none !important;
                    margin: 0 0 10px;
                    min-width: 100%;
                    padding: 0;
                    width: 100%;
                }

                .contact input[type="text"],
                .contact input[type="email"],
                .contact input[type="url"],
                .contact textarea {
                    width: 100%;
                    border: 1px solid #CCC;
                    background: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                }

                input#contactNumber {
                    width: 81%;
                }

                .contact input[type="tel"] {
                    padding: 10px 0px 10px 50px;
                }

                .contact input[type="text"]:hover,
                .contact input[type="email"]:hover,
                .contact input[type="tel"]:hover,
                .contact input[type="url"]:hover,
                .contact textarea:hover {
                    -webkit-transition: border-color 0.3s ease-in-out;
                    -moz-transition: border-color 0.3s ease-in-out;
                    transition: border-color 0.3s ease-in-out;
                    border: 1px solid #AAA;
                }

                .contact textarea {
                    height: 100px;
                    max-width: 100%;
                    resize: none;
                }

                .contact button[type="submit"] {
                    cursor: pointer;
                    width:
                        100%;
                    border: none;
                    background: #0CF;
                    color: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                    font-size: 15px;
                }

                .contact button[type="submit"]:hover {
                    background: #09C;
                    -webkit-transition: background 0.3s ease-in-out;
                    -moz-transition: background 0.3s ease-in-out;
                    transition: background-color 0.3s ease-in-out;
                }

                .contact button[type="submit"]:active {
                    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                }

                .contact input:focus,
                .contact textarea:focus {
                    outline: 0;
                    border: 1px solid #999;
                }

                ::-webkit-input-placeholder {
                    color: #888;
                }

                :-moz-placeholder {
                    color: #888;
                }

                ::-moz-placeholder {
                    color: #888;
                }

                :-ms-input-placeholder {
                    color: #888;
                }
            </style>

            <div class="container">
                <form id="updatePlans">
                    <h3 class style="text-align:center;">Edit Subscription plan</h3>
                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <select id="type" name="type" class="form-select form-control">
                            <option value="friend" <%=userData.type==="friend" ? 'selected="selected' : '' %>>friend
                            </option>
                            <option value="individual" <%=userData.type==="individual" ? 'selected="selected' : '' %>
                                >Individual
                            </option>
                            <option value="family" <%=userData.type==="family" ? 'selected="selected' : '' %>>Family
                            </option>
                            <option value="family" <%=userData.type==="neighbourhoods" ? 'selected="selected' : '' %>>neighbourhoods
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" value="<%=userData.price%>" name="price" id="price" class="form-control"
                            placeholder="Plan price" />
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="saveUserButton" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>


            <!-- jQuery Validation Plugin -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

            <!-- jQuery Validation Plugin -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>


            <!-- Other scripts -->
            <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.x.x/dist/js/bootstrap.bundle.min.js"></script>

            <script>
                $(document).ready(function () {
                    $("#updatePlans").validate({
                        rules: {
                            type: {
                                required: true,
                            },
                            price: {
                                required: true,
                                number: true,
                                min: 0,
                            },
                        },
                        messages: {
                            type: {
                                required: "Type is required.",
                            },
                            price: {
                                required: "Price is required.",
                                number: "Please enter a valid number.",
                                min: "Please enter a value greater than or equal to 0.",
                            },
                        },
                        errorElement: "label",
                        errorPlacement: function (error, element) {
                            // Customize the placement of error messages
                            error.addClass("alert alert-danger");
                            error.insertAfter(element);
                        },
                        submitHandler: function (form) {
                            var typeValue = $("#type").val();
                            var priceValue = $("#price").val();


                            console.log("Type:", typeValue);
                            console.log("Price:", priceValue);

                            let data = {
                                price: priceValue,
                                type: typeValue
                            }

                            $.ajax({
                                type: 'Put',
                                url: `<%=process.env.nodeAdminUrl%>/updateSubscriptionPlan/<%=userData.id%>`,
                                data: data,
                                dataType: 'json',
                                success: function (data) {
                                    Swal.fire(
                                        'Good job!',
                                        'User created successfully!',
                                        'success'
                                    )
                                    $('#addUserPopup').modal('hide');
                                    setTimeout(function () {
                                        window.location.href = '<%=process.env.nodeAdminUrl%>/getSubscriptionPlans';
                                    }, 2000);
                                },
                                error: function (xhr, status, error) {
                                    console.error('AJAX Error:', error);
                                    // Handle error if needed
                                }
                            });
                        },
                    });
                });
            </script>
    </body>

    </html>