<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<%- include ('./elements/header.ejs') %>

    <body>
        <!-- <h2>User Details</h2> -->
        <% const userData=JSON.parse(srcData); %>
            <style>
                @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-font-smoothing: antialiased;
                    -moz-font-smoothing: antialiased;
                    -o-font-smoothing: antialiased;
                    -font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                }

                body {
                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 30px;
                    color: #777;
                    background: #0CF;
                }

                .container {
                    max-width: 700px;
                    width: 100%;
                    margin: 0 auto;
                    position: relative;
                }

                .contact input[type="text"],
                .contact input[type="email"],
                .contact input[type="tel"],
                .contact input[type="url"],
                .contact textarea,
                .contact button[type="submit"] {
                    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
                }

                .contact {
                    background: #F9F9F9;
                    padding: 25px;
                    margin: 50px 0;
                }

                .contact h3 {
                    color: #438eb9;
                    display: block;
                    font-size: 30px;
                    font-weight: 400;
                }

                .contact h4 {
                    margin: 5px 0 15px;
                    display: block;
                    font-size: 13px;
                }

                fieldset {
                    border: medium none !important;
                    margin: 0 0 10px;
                    min-width: 100%;
                    padding: 0;
                    width: 100%;
                }

                .contact input[type="text"],
                .contact input[type="email"],

                .contact input[type="url"],
                .contact textarea {
                    width: 100%;
                    border: 1px solid #CCC;
                    background: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                }

                input#contactNumber {
                    width: 81%;
                }

                .contact input[type="tel"] {
                    padding: 10px 0px 10px 50px;
                }

                .contact input[type="text"]:hover,
                .contact input[type="email"]:hover,
                .contact input[type="tel"]:hover,
                .contact input[type="url"]:hover,
                .contact textarea:hover {
                    -webkit-transition: border-color 0.3s ease-in-out;
                    -moz-transition: border-color 0.3s ease-in-out;
                    transition: border-color 0.3s ease-in-out;
                    border: 1px solid #AAA;
                }

                .contact textarea {
                    height: 100px;
                    max-width: 100%;
                    resize: none;
                }

                .contact button[type="submit"] {
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    background: #0CF;
                    color: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                    font-size: 15px;
                }

                .contact button[type="submit"]:hover {
                    background: #09C;
                    -webkit-transition: background 0.3s ease-in-out;
                    -moz-transition: background 0.3s ease-in-out;
                    transition: background-color 0.3s ease-in-out;
                }

                .contact button[type="submit"]:active {
                    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                }

                .contact input:focus,
                .contact textarea:focus {
                    outline: 0;
                    border: 1px solid #999;
                }

                ::-webkit-input-placeholder {
                    color: #888;
                }

                :-moz-placeholder {
                    color: #888;
                }

                ::-moz-placeholder {
                    color: #888;
                }

                :-ms-input-placeholder {
                    color: #888;
                }
            </style>

            <div class="container">
                <form class="contact" id="editForm">
                    <h3 class style="text-align:center;">Edit User</h3>
                    <label>Name</label>
                    <fieldset>
                        <input placeholder="Your name" maxlength="100" type="text" tabindex="1" required autofocus
                            id="name" value="<%=userData.name %>">
                    </fieldset>

                    <label>Contact Number</label>
                    <fieldset class="d-flex">
                        <input type="tel" required id="dialCode" value=<%=userData.dialCode %>>

                        <input placeholder="Your contact Number" class="" type="text" tabindex="2" required
                            id="contactNumber" pattern="[0-9]+"
                            title="Please enter only digits (0-9) for the contact number."
                            value=<%=userData.contactNumber %>>

                    </fieldset>

                    <label for="isApprovedByAdmin">Status</label>
                    <fieldset>

                        <select id="isApprovedByAdmin" name="isApprovedByAdmin">
                            <option value="1" <% if (userData.isApprovedByAdmin==1) { %>selected<% } %>>Approved
                            </option>
                            <option value="0" <% if (userData.isApprovedByAdmin==0) { %>selected<% } %>>Not
                                    Approved</option>
                        </select><br><br>
                    </fieldset>

                    <button name="submit" type="submit" id="submit" data-submit="...Sending">Submit</button>
                    </fieldset>
                </form>


            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                // Submit the form using AJAX
                $('#editForm').on('submit', function (e) {
                    e.preventDefault();
                    // alert("fddddd")
                    const formData = {
                        name: $('#name').val(),
                        contactNumber: $('#contactNumber').val(),
                        dialCode: $('#dialCode').val(),
                        isApprovedByAdmin: $('#isApprovedByAdmin').val(),
                    };
                    // alert(formData.name + " " + formData.contactNumber + " " + formData.dialCode + " " + formData.isApprovedByAdmin);

                    $.ajax({
                        url: `<%=process.env.nodeAdminUrl%>/userIds/<%=userData.id%>`, // Replace userId with the actual user ID
                        type: 'PUT',
                        data: JSON.stringify(formData),
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.message === 'User updated successfully') {
                                Swal.fire({
                                    title: 'User Data Updated Successfully!!',
                                    icon: 'success',
                                }).then(function () {
                                    window.location.href = `<%=process.env.nodeAdminUrl%>/userlist`;
                                });
                            }
                            else {
                                // Show the error message received from the server
                                showMessage(response.error);
                            }
                        },
                        error: function (error) {
                            console.error('Error updating user:', error.responseText);
                            alert('Error: ' + error.responseText); // Show the error message in an alert box
                        },
                    });
                });

                // document.getElementById('isApprovedByAdminSelect').addEventListener('change', function () {
                //     var selectElement = document.getElementById('isApprovedByAdminSelect');
                //     var hiddenInput = document.getElementById('isApprovedByAdmin');

                //     // Update the hidden input field based on the selected option
                //     if (selectElement.value === '1') {
                //         hiddenInput.value = 'true';
                //     } else if (selectElement.value === '0') {
                //         hiddenInput.value = 'false';
                //     }
                // });
            </script>
            <!-- `/userIds/<%=userData.id %>` -->
    </body>
    <%- include ('./elements/footer.ejs') %>

</html>