<%- include ('./elements/loginheader.ejs') %>
  <!-- include('header'); -->
  <div class="main-container">
    <section class="background-radial-gradient overflow-hidden">
      <style>
        .background-radial-gradient {
          height: 100vh;
          background-color: hsl(218, 41%, 15%);
          background-image: radial-gradient(650px circle at 0% 0%,
              hsl(218, 41%, 35%) 15%,
              hsl(218, 41%, 30%) 35%,
              hsl(218, 41%, 20%) 75%,
              hsl(218, 41%, 19%) 80%,
              transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
              hsl(218, 41%, 45%) 15%,
              hsl(218, 41%, 30%) 35%,
              hsl(218, 41%, 20%) 75%,
              hsl(218, 41%, 19%) 80%,
              transparent 100%);
        }

        #radius-shape-1 {
          height: 220px;
          width: 220px;
          top: -19px;
          left: -130px;
          background: radial-gradient(#44006b, #ad1fff);
          overflow: hidden;
        }

        #radius-shape-2 {
          border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
          bottom: -60px;
          right: -110px;
          width: 300px;
          height: 300px;
          background: radial-gradient(#44006b, #ad1fff);
          overflow: hidden;
        }

        .bg-glass {
          background-color: hsla(0, 0%, 100%, 0.9) !important;
          backdrop-filter: saturate(200%) blur(25px);
        }
      </style>


      <!--                
  <% if (messages.success) { %>
    <div class="alert alert-success">
      <%= messages.success %>
    </div>
    <% } else if (messages.error) { %>
      <div class="alert alert-danger">
        <%= messages.error %>
      </div>
      <% } %> -->

      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5 h-100">
        <div class="row gx-lg-5 mb-5 h-100">
          <div class="col-md-6 offset-md-3">
            <div class="row">
              <div class="col">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%); font-size: 50px">
                  <span style="color: #FFBF00">I'm just Fine</span>
                </h1>

                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%); font-size: 20px">
                  They app for single people that have friends but nobody living
                  with them, individuals with spouses or partners
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col position-relative loginboxs">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>

                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div><%- include ('./elements/flash.ejs') %></div>

                <div class="card bg-glass" style="border: none; border-radius: 30px; opacity: 0.9">


                  <% if (messages.success) { %>
                    <div class="alert alert-success">
                      <%= messages.success %>
                    </div>
                    <% } else if (messages.error) { %>
                      <div class="alert alert-danger">
                        <%= messages.error %>
                      </div>
                      <% } %>

                        <div class="card-body px-4 py-5 px-md-5">
                          <form method="post" action="<%=process.env.nodeAdminUrl%>/Login">
                            <input type="hidden" name="role_id" value="0" />
                            <div class="mb-5">
                              <h1 class="my-5 fw-bold ls-tight" style="color: #FFBF00; font-size: 40px; opacity: 1;">
                                Sign In <br />
                              </h1>

                            </div>
                            <fieldset>
                              <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                  <input type="text" name="username" required class="form-control"
                                    placeholder="Username" value="" />
                                  <i class="ace-icon fa fa-user"></i>
                                </span>
                              </label>

                              <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                  <input type="password" name="password" required class="form-control"
                                    placeholder="Password" value="" />
                                  <i class="ace-icon fa fa-lock"></i>
                                </span>
                              </label>

                              <div class="space"></div>

                              <div class="clearfix">
                                <button type="submit" class="width-35 btn btn-sm btn-primary">
                                  <i class="ace-icon fa fa-key"></i>
                                  <span class="bigger-110">Login</span>
                                </button>
                              </div>

                              <div class="space-4"></div>
                            </fieldset>
                          </form>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.main-container -->

  <%- include ('./elements/loginfooter.ejs') %>