<%- include('../elements/header'); %>

  <div class="main-content">
    <div class="main-content-inner">
      <div class="page-content">
        <div class="container-fluid">
          <div class="container-fluid detailscontainer">
            <div class="space-6"></div>

            <div class="row classWithPad">
              <div class="col-sm-6 mb-2">
                <div class="row classWithPad">
                  <div class="col-xs-4 mb-2">
                    <p>Name:-</p>
                  </div>
                  <div class="col-xs-8 mb-2">
                    <%= data.name %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-2">
                <div class="row classWithPad">
                  <div class="col-xs-4 mb-2">
                    <p>Contact Number:-</p>
                  </div>
                  <div class="col-xs-8 mb-2">
                    <%= data.dialCode %>
                      <%= data.contactNumber %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row classWithPad">
              <div class="col-sm-6 mb-2">
                <div class="row classWithPad">
                  <div class="col-xs-4 mb-2">
                    <p>Status:-</p>
                  </div>
                  <div class="col-xs-8 mb-2">

                    <%if(data.isVerified=== 1){ %>
                      <span class="label label-md label-success">Active</span>
                      <% }else{ %>
                        <span class="label label-md label-danger">Deactivate</span>
                        <%}%>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-2">
                <div class="row classWithPad">
                  <div class="col-xs-4 mb-2">
                    <p>Registration Date :-</p>
                  </div>
                  <div class="col-xs-8 mb-2">
                    <%=moment(data.createdAt).format('MM-DD-yyyy')%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section>
            <div class="container-fluid detailscontainer caregivercontiner2">
              <div class="row classWithPad2">
                <div class="col-sm-6 mb-2">
                  <div class="row classWithPad2 text-center headingsgiver ">
                    <p>Care Giver ( Who are giving care to<span style="text-transform: capitalize;">
                        <%= data.name %>
                      </span> )
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 mb-2 headingsgiver ">
                      <% if(giver[0].length>0){ for(var i=0;i < giver[0].length;i++) { %>
                          <div class="userlists">
                            <div class="username">

                              <% if(giver[0][i]['careGiver']['picture']==null) { %>
                                <img class="imagelogos"
                                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                  alt="user profile">
                                <% } else{ %>
                                  <img class="imagelogos" src=<%= + "/" + giver[0][i]['careGiver']['picture']
                                    %>
                                  alt="users profile"
                                  <%}%>
                                    <span style="display:none">
                                      <%=giver[0][i].id%>
                                    </span>
                                    <span style="display:none">
                                      <%=giver[0][i]['careGiver'].id%>
                                    </span>
                                    <!-- <% console.log("receiver[0][i]['careReceiver']",i)%>-->


                            </div>
                            <div class="mobileno">
                              <span class="headtitle">Contact No:-</span><span style="text-transform: uppercase;"
                                class="text_val">
                                <%=giver[0][i]['careGiver'].dialCode%>
                                  <%=giver[0][i]['careGiver'].contactNumber%>
                              </span>
                            </div>
                          </div>
                          <% } }else{ %>
                            <div class="userlists" style="color:red; font-size: 20px;">
                              <p>No Care Giver Data Found</p>
                            </div>
                            <% } %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-2">
                  <div class="row classWithPad2 text-center headingsgiver ">
                    <p>Care Receiver ( Who are receiving care from <span style="text-transform: capitalize;">
                        <%= data.name %>
                      </span> )
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 mb-2 headingsgiver ">
                      <% if(receiver[0].length>0){ for(var i=0;i < receiver[0].length;i++) { %>

                          <div class="userlists">

                            <div class="username">

                              <% if(receiver[0][i]['careReceiver'].picture==null) { %>
                                <img class="imagelogos"
                                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                  alt="users profile">

                                <%} else{ %>
                                  <img class="imagelogos" src=<%="/" +
                                    receiver[0][i]['careReceiver']['picture'] %>
                                  alt="users profile">
                                  <% } %>

                                    <span style="display:none">
                                      <%= receiver[0][i].id%>
                                    </span>
                                    <span style="display:none">
                                      <%=receiver[0][i]['careReceiver'].id%>
                                    </span>

                                    <p style="text-transform: capitalize; font-size: 18px;"
                                      id="<%=receiver[0][i]['careReceiver'].id%><%=parseInt( Math.random()*5)%>"
                                      onclick="removelist(this)">
                                      <span class="headtitle">Name:-</span> <span style="text-transform: uppercase;"
                                        class="text_val">
                                        <%=receiver[0][i]['careReceiver'].name%>
                                      </span>
                                    </p>
                            </div>
                            <div class="mobileno">
                              <span class="headtitle">Contact No:-</span><span style="text-transform: uppercase;"
                                class="text_val">
                                <%=receiver[0][i]['careReceiver'].dialCode%>
                                  <%=receiver[0][i]['careReceiver'].contactNumber%>
                              </span>
                            </div>

                          </div>
                          <% } }else{ %>

                            <div class="userlists" style="color:red; font-size: 20px;">
                              <p>No Care Receiver Data Found</p>
                            </div>
                            <% } %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
        </section>
        <!-- <section>
          <div class="container-fluid detailscontainer caregivercontiner2 messageboxs">

            <div class="row classWithPad2 text-center ">
              <div class="col-sm-12 mb-2">
                User Logs Area
              </div>
            </div>
          </div>
        </section> -->
        <% var test=nodeAdminUrl; %>

      </div>
    </div>
  </div>

  <%- include('../elements/footer'); %>
    <script>
      var base_url = "<%= test  %>";
      console.log("fdsgfsdgdfsg", base_url);

      function removelist(element) {
        var currentId = element.previousElementSibling.innerText;
        var contactId = element.previousElementSibling.previousElementSibling.innerText;
        currentId = currentId.trim();
        contactId = contactId.trim()
        console.log("currentId", currentId);
        console.log("contactId", contactId)
        console.log("Here--------", `${base_url}/${currentId}/${contactId}`)
        async function getData() {
          let response = await fetch(`${base_url}/${currentId}/${contactId}`);
          let output = await response.json();
          return output;
        }
        getData().then((resp) => {
          console.log("resp", resp)
        }).catch((err) => {
          console.log("error", err)
        });
      }
    </script>
    </div>